//-------- RESOLUTION : 768px to 1400px and more (everything except phones)

//Basic settings

.collapsible,
.toggle {
    flex: 1
}

.collapsible {

    //Title

    .collapsible_title {
        height: 40px;

        display: flex;
        align-items: center;
        justify-content: space-between;

        margin: 0 5px;
        padding: 0 20px;


        background-color: #CDCAC6;
        color: #474350;
        box-shadow: 2px 2px 0 #474350, 2px 2px #FFFFF3 inset;

        cursor: pointer;

    }

    .toggle {
        display: flex;
        justify-content: stretch;

        background-color: #FFFFF3;
        color: #474350;
        box-shadow: 2px 2px 0 #474350, 2px 2px #FFFFF3 inset;

        margin: 0 5px;

        img {
            height: 100px;
            width: 100px;
            object-fit: cover;
            border-radius: 10px;
            margin: 20px;
        }

        .collapsible_text {
            line-height: 30px;
            padding: 20px;
            flex-basis: 80%;
        }

    }

}


//--------- RESOLUTION : 350px to 767px (phones)

@media screen and (max-width:767px) {
    .collapsible {
        .toggle {
            img {
                height: 60px;
                width: 60px;
            }
        }
    }
}