//Base settings for one note

.note {
    height: 200px;
    width: 200px;

    background-color: #FFFFF3;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5px;
    
    .note_title {
        height: 30px;
        width: 190px;

        background-color: #CDCAC6;


        display: flex;
        justify-content: flex-end;
        align-items: center;

        padding-right: 10px;

    }

    img {
        height: 90px;
        width: 190px;
        object-fit: cover;
        margin-top: 5px;
    }

    .note_text {
        height: 150px;
        line-height: 20px;
        padding: 10px;
    }
}