//Settings for one project

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    flex-basis: 25%;

    cursor: pointer;

    img {
        width: 50px;
    }

    p {
        padding: 3px 5px;
    }
}

.selected {
    p {
        background-color: #30345A;
        color: #FFFFF3;
    }
}