//Fonts 

@font-face {
    font-family: "Windows";
    src: url('../styles/fonts/Windows_font/Windows_Regular.ttf');
}

//Main basic divs and sections

html {
    margin: 0px;
    height: 100vh;
    width: 100%;
}

body,
#root {
    margin: 0px;
    min-height: 100vh;
    width: 100%;
    line-height: 0;
    font-family: 'Windows';
    color: #474350;
}

.container {
    width: 1400px;
    min-height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

//Basic elements

* {
    box-sizing: border-box;
}

h2 {
    font-size: 1.8em;
}

.link_button {
    padding: 20px 60px;
    border-radius: 0;
    border: solid 2px #474350;
    box-shadow: 3px 3px 0 #474350, 3px 3px #FFFFF3 inset;

    color: inherit;
    font-family: inherit;
    font-size: 1.2em;

    cursor: pointer;

    text-decoration: none;
    text-align: center;
}

button {
    padding: 5px 25px;
    border-radius: 0;
    border: solid 1px #474350;
    box-shadow: 2px 2px 0 #474350, 2px 2px #FFFFF3 inset;

    color: inherit;
    font-family: inherit;
    font-weight: bold;

    cursor: pointer;

    text-decoration: none;
    text-align: center;

    text-transform: uppercase;
}