//Basic settings

.cv_container_overall {
    background: linear-gradient(#363543 80%, #454451 85%, #7D7E88 90%, #C2DCFF 100%);
    background-size: contain;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.stars_background_cv {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 500px;
}
