footer {
    background-color: #CDCAC6;
    height: 5vh;

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    button {
        margin-left: 30px;
    }

    nav {


        ul {
            list-style-type: none;

            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 10px;
            height: 40px;
            padding-right: 30px;

            li {
                padding: 5px 10px;
                height: 25px;
                box-shadow: 2px 2px 0 #474350, 2px 2px #FFFFF3 inset;
                display: flex;
                align-items: center;

                background-color: #D9D9D9;
            }

            .hour {
                box-shadow: 2px 2px 0 #FFFFF3, 2px 2px #474350 inset!important;
            }

            img {
                height: 17px;
                width: 17px;
            }
        }
    }
}