//General footer basic settings

footer {
    background-color: #CDCAC6;
    height: 5vh;

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;

    //Start button

    button {
        margin-left: 30px;
    }

    .footer_menu {
        position: absolute;
        bottom: 5vh;
        height: 200px;

        background-color: #CDCAC6;
        box-shadow: 2px 2px 0 #474350, 2px 2px #FFFFF3 inset;

        .menu_logo {
            height: 198px;
            align-self: flex-end;
            margin-left: 2px;
        }

        .menu_buttons {

            display: flex;
            flex-direction: column;

            .menu_button {
                text-decoration: none;
                color: inherit;
                padding: 10px 30px;

                display: flex;
                align-items: center;
                gap: 20px;
                flex-grow: 0.25;

                img {
                    height: 20px;
                }

                &:hover {
                    background-color: #30345A;
                    color: #FFFFF3;

                }

            }
        }
    }

    //Right nav (fake buttons)

    nav {


        ul {
            list-style-type: none;

            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 10px;
            height: 5vh;
            padding-right: 30px;

            li {
                padding: 5px 10px;
                height: 25px;
                box-shadow: 2px 2px 0 #474350, 2px 2px #FFFFF3 inset;
                display: flex;
                align-items: center;

                background-color: #D9D9D9;
            }

            //Hour button

            .hour {
                box-shadow: 2px 2px 0 #FFFFF3, 2px 2px #474350 inset !important;
            }

            //Icons

            img {
                height: 17px;
                width: 17px;
            }
        }
    }
}